* {
  margin: 0;
  padding: 0;
  transition: all 200ms;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Nexa";
  src: url(../fonts/Nexa-Trial-Regular.ttf);
}
html {
  height: 100%;
}

body {
  font-family: Montserrat;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  background-color: black;
  display: flex;
  margin-bottom: 1em;
}
header p {
  color: white;
}
header div#headerItemContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
header div#headerItemContainer .headerItem:hover {
  transform: scale(1.05);
}
header div#headerItemContainer .headerItem:active {
  transform: scale(0.97);
}
header div#headerItemContainer div.headerItem {
  margin: 0 5px;
  display: inline;
  align-items: center;
  background-color: rgb(51, 51, 51);
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 1em;
  transition: all 500ms;
  margin-top: 13px;
  margin-bottom: 13px;
  cursor: pointer;
}
header div#headerItemContainer div.headerItem p {
  color: rgb(255, 255, 255);
}
header div#headerItemContainer div.headerItem p .fa-solid {
  margin-right: 5px;
}
header div#headerItemContainer .mobileMenuCloser.headerItem {
  display: none;
  opacity: 0;
  scale: 1.2;
  margin-left: 8px;
}
header div#headerItemContainer #cartButtonContainer {
  display: flex;
  position: absolute;
  right: 10px;
}
header div#headerItemContainer #cartButtonContainer #cartBubble {
  background-color: red;
  display: none;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 2px;
}
header div#headerItemContainer #cartButtonContainer #cartButton {
  display: flex;
}

.itemsSubContainer.carouselSimple {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2em;
}
.itemsSubContainer.carouselSimple .itemsContainer {
  border-radius: 1em;
  background: linear-gradient(rgb(204, 204, 204), rgb(255, 255, 255));
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 1280px;
  scroll-behavior: smooth;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.itemsSubContainer.carouselSimple .itemsContainer .card {
  background-color: rgb(37, 37, 37);
  margin: 10px;
  color: white;
  text-align: center;
  border-radius: 12px;
}
.itemsSubContainer.carouselSimple .itemsContainer .card .item {
  height: 250px;
  display: flex;
  flex-direction: column;
}
.itemsSubContainer.carouselSimple .itemsContainer .card .item img {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.itemsSubContainer.carouselSimple .itemsContainer .card .item .item-title {
  font-weight: 100;
  font-size: 1em;
  margin: 0 5px;
  margin-top: 3px;
}
.itemsSubContainer.carouselSimple .itemsContainer .card .item .ver-mas-button {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 13px;
  border-radius: 8px;
  background-color: white;
  font-weight: bolder;
  border: 0;
  padding: 5px;
  transition: all 200ms;
}
.itemsSubContainer.carouselSimple .itemsContainer .card .item .ver-mas-button:hover {
  transform: scale(1.05);
}
.itemsSubContainer.carouselSimple .itemsContainer .card .item .ver-mas-button:active {
  transform: scale(0.97);
}

.itemsSubContainer.carouselWithDescription {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2em;
}
.itemsSubContainer.carouselWithDescription .itemsContainer {
  border-radius: 1em;
  background: linear-gradient(rgb(204, 204, 204), rgb(255, 255, 255));
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 1281px;
  scroll-behavior: smooth;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card {
  background-color: rgb(37, 37, 37);
  margin: 10px;
  color: white;
  text-align: center;
  border-radius: 1em;
  width: 407px;
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item {
  display: grid;
  grid-template-areas: "item description";
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item section {
  display: flex;
  flex-direction: column;
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item section img {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item section .item-title {
  margin-top: 3px;
  font-weight: 100;
  font-size: 1em;
  margin-left: 10px;
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item section .ver-mas-button {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 13px;
  border-radius: 8px;
  background-color: white;
  font-weight: bolder;
  border: 0;
  padding: 5px;
  transition: all 200ms;
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item section .ver-mas-button:hover {
  transform: scale(1.05);
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item section .ver-mas-button:active {
  transform: scale(0.97);
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item article {
  width: 185px;
  margin-left: 37px;
  margin-right: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 260px;
}
.itemsSubContainer.carouselWithDescription .itemsContainer .card .item article p {
  display: none;
}

.scrollR, .scrollL {
  margin: auto 0;
  margin-left: 20px;
  border: 0;
  background-color: rgb(37, 37, 37);
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  transition: all 200ms;
}

.scrollR:hover, .scrollL:hover {
  transform: scale(1.05);
}

.scrollR:active, .scrollL:active {
  transform: scale(1);
}

.scrollL {
  margin-left: 0;
  margin-right: 20px;
}

.carouselContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.carouselContainer h2.carouselTitle {
  position: relative;
  margin-bottom: 8px;
  margin-left: 10px;
}

#cart {
  background-color: rgba(26, 26, 26, 0.9);
  position: fixed;
  width: 450px;
  max-height: 379px;
  top: -379px;
  right: 20px;
  border-radius: 1em;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 2;
}
#cart #closeCart {
  color: red;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
  background-color: #000000;
  padding: 2px 5px 1.5px 6px;
  border-radius: 50%;
}
#cart #closeCart i::before {
  width: 12.5px;
  height: 12.5px;
}
#cart #closeCart:hover {
  transform: scale(1.1);
}
#cart #cartTitle {
  color: white;
  position: absolute;
  top: 7px;
  left: 10px;
  background-color: black;
  padding: 0 3px;
  border-radius: 1em;
}
#cart #cartDownPart {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: 1em;
}
#cart #cartDownPart #cartArrows {
  width: 100px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  margin: auto 0;
  border-radius: 1em;
  color: white;
  flex-direction: column;
}
#cart #cartDownPart #cartArrows h2 {
  font-size: 17px;
}
#cart #cartDownPart #cartArrows button {
  margin: 5px;
  border: 0;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 200ms;
}
#cart #cartDownPart #cartArrows button:hover {
  transform: scale(1.05);
}
#cart #cartDownPart #cartArrows button:active {
  transform: scale(1);
}
#cart #cartDownPart #totalContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background-color: rgb(10, 10, 10);
  padding: 10px;
  border-radius: 1em;
  text-align: center;
}
#cart #cartDownPart #totalContainer #totalText {
  font-weight: bolder;
  font-size: 18px;
}
#cart #cartDownPart #totalContainer #shopping-cart-total {
  font-size: 14px;
}
#cart #cartDownPart #totalContainer #shopping-cart-buy {
  margin-top: 5px;
  border: 0;
  background-color: white;
  font-family: Montserrat;
  font-weight: bolder;
  padding: 2px;
  border-radius: 6px;
  transition: all 200ms;
}
#cart #cartDownPart #totalContainer #shopping-cart-buy:hover {
  transform: scale(1.03);
}
#cart #cartDownPart #totalContainer #shopping-cart-buy:active {
  transform: scale(1);
}
#cart #cartNothingPart {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
}
#cart #cartItemsContainer {
  overflow-y: hidden;
  max-height: 237px;
  margin-top: 25px;
  scroll-behavior: smooth;
}
@-webkit-keyframes cartOpen {
  from {
    top: -379px;
  }
  to {
    top: 28px;
  }
}
@keyframes cartOpen {
  from {
    top: -379px;
  }
  to {
    top: 28px;
  }
}
@-webkit-keyframes cartClose {
  from {
    top: 28px;
  }
  to {
    top: -379px;
  }
}
@keyframes cartClose {
  from {
    top: 28px;
  }
  to {
    top: -379px;
  }
}
#cart .shoppingCartItem {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 5px;
  width: 420px;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
}
#cart .shoppingCartItem img, #cart .shoppingCartItem h3, #cart .shoppingCartItem .price, #cart .shoppingCartItem .moreValueInput, #cart #cartMain .shoppingCartItem :nth-child(5) .lessValueInput, #cartMain #cart .shoppingCartItem :nth-child(5) .lessValueInput, #cart .shoppingCartItem .lessValueInput {
  margin-right: 10px;
}
#cart .shoppingCartItem h3 {
  font-size: 15px;
  background: linear-gradient(rgb(26, 26, 26), rgb(53, 53, 53));
  padding: 5px;
  border-radius: 1em;
}
#cart .shoppingCartItem .price {
  margin-left: auto;
  background: linear-gradient(rgb(26, 26, 26), rgb(53, 53, 53));
  padding: 4px;
  border-radius: 1em;
}
#cart .shoppingCartItem .shopping-cart-item-price {
  font-size: 13px;
  margin: 0;
}
#cart .shoppingCartItem img {
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  background: linear-gradient(rgb(26, 26, 26), rgb(53, 53, 53));
  padding: 7px;
  border-radius: 10px;
}
#cart .shoppingCartItem .input-container {
  margin-right: 3px;
}
#cart .shoppingCartItem .shopping-cart-quantity-input {
  width: 22px;
  height: 22px;
  text-align: center;
  border: 0;
  background: linear-gradient(rgb(26, 26, 26), rgb(53, 53, 53));
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 50%;
  padding: 3px;
}
#cart .shoppingCartItem .moreValueInput, #cart #cartMain .shoppingCartItem :nth-child(5) .lessValueInput, #cartMain #cart .shoppingCartItem :nth-child(5) .lessValueInput, #cart .shoppingCartItem .lessValueInput {
  background: linear-gradient(rgb(28, 138, 0), rgb(0, 185, 114));
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  border-radius: 50%;
  transition: all 200ms;
}
#cart .shoppingCartItem .moreValueInput p, #cart #cartMain .shoppingCartItem :nth-child(5) .lessValueInput p, #cartMain #cart .shoppingCartItem :nth-child(5) .lessValueInput p, #cart .shoppingCartItem .lessValueInput p {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
#cart .shoppingCartItem .moreValueInput:hover, #cart .shoppingCartItem .lessValueInput:hover {
  transform: scale(1.05);
}
#cart .shoppingCartItem .moreValueInput:active, #cart .shoppingCartItem .lessValueInput:active {
  transform: scale(1);
}
#cart .shoppingCartItem .lessValueInput {
  background: linear-gradient(rgb(255, 166, 0), rgb(209, 118, 15));
  margin-bottom: 0;
  margin-top: 2px;
}
#cart .shoppingCartItem .btn-delete {
  width: 27px;
  height: 27px;
  border: 0;
  background: linear-gradient(rgb(255, 0, 0), rgb(255, 111, 111));
  font-family: Montserrat;
  color: white;
  font-weight: bolder;
  border-radius: 7px;
  transition: all 200ms;
}
#cart .shoppingCartItem .btn-delete:hover {
  transform: scale(1.05);
}
#cart .shoppingCartItem .btn-delete:active {
  transform: scale(1);
}

footer {
  margin-top: 2em;
  background-color: black;
  min-height: 50px;
  display: flex;
  margin-top: auto;
  justify-content: center;
}
footer .social-media {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 460px) {
  footer .social-media {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 350px) {
  footer .social-media {
    transform: scale(0.7);
  }
}
footer .social-media .social-media-app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}
footer .social-media .social-media-app img {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin-right: 10px;
}
footer .social-media .social-media-app p {
  color: white;
  text-align: center;
}

@media screen and (max-width: 1480px) {
  .carouselSimple .itemsContainer {
    width: 1120px !important;
  }
}
@media screen and (max-width: 1290px) {
  .carouselSimple .itemsContainer {
    width: 960px !important;
  }
}
@media screen and (max-width: 1150px) {
  .carouselSimple .itemsContainer {
    width: 800px !important;
  }
}
@media screen and (max-width: 980px) {
  .carouselSimple .itemsContainer {
    width: 640px !important;
  }
}
@media screen and (max-width: 820px) {
  .carouselSimple .carouselContainer {
    margin: 0 !important;
  }
  .carouselSimple .itemsContainer {
    overflow-x: scroll !important;
    margin: 0 auto !important;
  }
  .carouselSimple .scrollLeftSimple {
    display: none;
  }
  .carouselSimple .scrollRightSimple {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .carouselSimple .itemsContainer {
    width: 480px !important;
  }
}
@media screen and (max-width: 530px) {
  .carouselSimple .itemsContainer {
    width: 100vw !important;
    border-radius: 0 !important;
  }
  .carouselSimple .itemsContainer .card {
    width: 33.3333vw;
  }
  .carouselSimple .itemsContainer .item {
    width: calc(25vw - 20px) !important;
    height: 41vw !important;
  }
  .carouselSimple .itemsContainer .item .item-price {
    font-size: 20px !important;
  }
  .carouselSimple .itemsContainer .item .item-title {
    font-size: 10px !important;
  }
  .carouselSimple .itemsContainer .item .item-button-cart {
    font-size: 10px !important;
  }
  .carouselSimple .itemsContainer .item img {
    width: 80px !important;
    height: 80px !important;
    margin: 10px auto !important;
  }
}
@media screen and (max-width: 490px) {
  .carouselSimple .itemsContainer .item {
    height: 42vw !important;
  }
}
@media screen and (max-width: 474px) {
  .carouselSimple .itemsContainer .item {
    height: 46vw !important;
  }
}
@media screen and (max-width: 436px) {
  .carouselSimple .itemsContainer .card {
    width: 33.3333vw;
  }
  .carouselSimple .itemsContainer .item {
    width: calc(33.3333vw - 20px) !important;
    height: 50vw !important;
  }
}
@media screen and (max-width: 400px) {
  .carouselSimple .itemsContainer .item {
    height: 54vw !important;
  }
}
@media screen and (max-width: 400px) {
  .carouselSimple .itemsContainer .item img {
    width: 72px !important;
    height: 72px !important;
  }
}
@media screen and (max-width: 360px) {
  .carouselSimple .itemsContainer .item {
    height: 56vw !important;
  }
  .carouselSimple .itemsContainer .item .item-button-cart {
    margin-bottom: 10px !important;
  }
  .carouselSimple .itemsContainer .item .item-price {
    font-size: 18px !important;
  }
}

#formmain {
  display: flex;
  justify-content: center;
  align-items: center;
}

#formheader {
  margin-bottom: 0;
}

#form {
  background: linear-gradient(rgb(15, 15, 15), rgb(59, 59, 59));
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto;
  padding: 20px;
  border-radius: 1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.forminput, textarea {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 2px 2px 2px #8d8d8d, -2px -2px 2px #686868;
  transition: all 0.3s;
  font-family: Montserrat;
  font-weight: 800;
}

label {
  font-weight: bolder;
}

input.forminput:focus, textarea:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

input.forminput, textarea {
  margin-bottom: 20px;
  margin-top: 10px;
}

#enviar {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#enviar {
  margin-top: 5px;
  padding: 10px 17px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: background 250ms;
  overflow: hidden;
}

#enviar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #212121;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

#enviar:hover {
  color: #e8e8e8;
  background: #212121;
}

#enviar:hover::before {
  width: 100%;
}

textarea {
  resize: none;
}

#mobileMain {
  display: flex;
  flex-direction: column;
}

#cartMain {
  display: grid;
  justify-items: center;
}
#cartMain .shoppingCartItem {
  margin: 10px 0;
  width: 400px;
  background-color: black;
  color: white;
  border-radius: 1em;
  display: grid;
  grid-template-areas: "img title" "img price" "img input" "img value" "img delete";
  grid-template-columns: 200px 1fr;
  box-shadow: 5px 5px 5px #424242, -5px -5px 5px #919191;
}
#cartMain .shoppingCartItem .shopping-cart-image {
  width: 180px;
  height: 180px;
  background-color: rgb(48, 48, 48);
  padding: 10px;
  margin: 0 auto;
  border-radius: 1em;
  -o-object-fit: contain;
     object-fit: contain;
  grid-area: img;
  position: relative;
  left: 0;
}
#cartMain .shoppingCartItem .shopping-cart-item-title {
  text-align: center;
  margin: 0 10px;
  margin-top: 7px;
}
@media screen and (max-width: 480px) {
  #cartMain .shoppingCartItem {
    width: 370px;
    grid-template-columns: 170px 1fr;
  }
  #cartMain .shoppingCartItem .shopping-cart-image {
    width: 150px;
    height: 150px;
  }
  #cartMain .shoppingCartItem .shopping-cart-item-title {
    font-size: 16px;
  }
}
#cartMain .shoppingCartItem .price {
  text-align: center;
}
#cartMain .shoppingCartItem .input-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 5px;
}
#cartMain .shoppingCartItem .input-container .shopping-cart-quantity-input {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  outline: none;
}
#cartMain .shoppingCartItem :nth-child(5) {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 5px;
}
#cartMain .shoppingCartItem :nth-child(5) .moreValueInput, #cartMain .shoppingCartItem :nth-child(5) .lessValueInput {
  background: linear-gradient(rgb(28, 138, 0), rgb(0, 185, 114));
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  margin: 0 2.5px;
  align-items: center;
  border-radius: 6px;
  transition: all 200ms;
}
#cartMain .shoppingCartItem :nth-child(5) .moreValueInput p, #cartMain .shoppingCartItem :nth-child(5) .lessValueInput p {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
#cartMain .shoppingCartItem :nth-child(5) .moreValueInput:hover, #cartMain .shoppingCartItem :nth-child(5) .lessValueInput:hover {
  transform: scale(1.05);
}
#cartMain .shoppingCartItem :nth-child(5) .moreValueInput:active, #cartMain .shoppingCartItem :nth-child(5) .lessValueInput:active {
  transform: scale(1);
}
#cartMain .shoppingCartItem :nth-child(5) .lessValueInput {
  background: linear-gradient(rgb(255, 166, 0), rgb(209, 118, 15));
  margin-bottom: 0;
}
#cartMain .shoppingCartItem :nth-child(6) {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px;
}
#cartMain .shoppingCartItem :nth-child(6) .btn-delete {
  width: 50px;
  height: 20px;
  border: 0;
  background: linear-gradient(rgb(255, 0, 0), rgb(255, 111, 111));
  font-family: Montserrat;
  color: white;
  font-weight: bolder;
  border-radius: 7px;
  transition: all 200ms;
}
#cartMain .shoppingCartItem :nth-child(6) .btn-delete:hover {
  transform: scale(1.05);
}
#cartMain .shoppingCartItem :nth-child(6) .btn-delete:active {
  transform: scale(1);
}
@media screen and (max-width: 420px) {
  #cartMain .shoppingCartItem {
    width: 310px;
    grid-template-columns: 150px 1fr;
  }
  #cartMain .shoppingCartItem .shopping-cart-image {
    width: 130px;
    height: 130px;
  }
  #cartMain .shoppingCartItem .shopping-cart-item-title {
    font-size: 14px;
  }
  #cartMain .shoppingCartItem .price {
    font-size: 12px;
  }
  #cartMain .shoppingCartItem .shopping-cart-quantity-input {
    width: 25px !important;
    height: 25px !important;
  }
  #cartMain .shoppingCartItem .moreValueInput, #cartMain #cart .shoppingCartItem .lessValueInput, #cart #cartMain .shoppingCartItem .lessValueInput, #cartMain .shoppingCartItem :nth-child(5) .lessValueInput, #cartMain .shoppingCartItem .lessValueInput {
    width: 20px !important;
    height: 20px !important;
  }
  #cartMain .shoppingCartItem .btn-delete {
    height: 17px !important;
  }
}

#mobileTotalContainer {
  background: linear-gradient(rgb(0, 0, 68), rgb(0, 0, 100));
  border: 2px solid white;
  box-shadow: rgb(50, 50, 93) 0px 50px 100px -20px, rgb(0, 0, 0) 0px 30px 60px -30px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: -2px;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  text-align: center;
  position: fixed;
  bottom: 42px;
  font-size: 14px;
}
#mobileTotalContainer #shopping-cart-total {
  font-size: 12px;
}
#mobileTotalContainer #buyButton {
  margin-top: 5px;
}

@media screen and (max-width: 820px) {
  .carouselTitle {
    left: -30px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}
@media screen and (max-width: 530px) {
  .carouselTitle {
    left: 5px !important;
    font-size: 20px !important;
  }
}
@media screen and (max-width: 1480px) {
  .carouselWithDescription .itemsContainer {
    width: 854px !important;
  }
}
@media screen and (max-width: 1030px) {
  .carouselWithDescription .itemsContainer {
    width: 741px !important;
  }
  .carouselWithDescription .item {
    grid-template-areas: "item" "description" !important;
  }
  .carouselWithDescription .item img {
    margin: 10px auto 0 auto !important;
  }
  .carouselWithDescription .item article {
    height: 120px !important;
  }
  .carouselWithDescription .item section .item-button-cart {
    margin-bottom: 0 !important;
    margin-top: 10px !important;
  }
  .carouselWithDescription .item section .item-title {
    margin: 0 10px !important;
  }
}
@media screen and (max-width: 920px) {
  .carouselWithDescription .itemsContainer {
    width: 494px !important;
  }
}
@media screen and (max-width: 820px) {
  .carouselWithDescription .carouselContainer {
    margin: 0 !important;
  }
  .carouselWithDescription .itemsContainer {
    overflow-x: scroll !important;
    margin: 0 auto !important;
  }
  .carouselWithDescription .scrollLeftDescription {
    display: none;
  }
  .carouselWithDescription .scrollRightDescription {
    display: none;
  }
}
@media screen and (max-width: 530px) {
  .carouselWithDescription {
    width: 100vw !important;
  }
  .carouselWithDescription .itemsContainer {
    width: 100vw !important;
    border-radius: 0 !important;
  }
  .carouselWithDescription .itemsContainer .item, .carouselWithDescription .itemsContainer .card, .carouselWithDescription .itemsContainer section {
    width: calc(33.3333vw - 20px) !important;
  }
  .carouselWithDescription .itemsContainer .item .item-price {
    font-size: 20px !important;
  }
  .carouselWithDescription .itemsContainer .item .item-title {
    font-size: 10px !important;
  }
  .carouselWithDescription .itemsContainer .item .item-button-cart {
    font-size: 10px !important;
    margin-bottom: 15px !important;
  }
  .carouselWithDescription .itemsContainer .item article {
    margin: 0 auto !important;
    width: calc(33.3333vw - 40px) !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .carouselWithDescription .itemsContainer .item article li {
    display: inline;
    font-size: 12px;
  }
}
@media screen and (max-width: 470px) {
  .carouselWithDescription .itemsContainer .item, .carouselWithDescription .itemsContainer .card, .carouselWithDescription .itemsContainer section {
    width: calc(50vw - 20px) !important;
  }
  .carouselWithDescription .itemsContainer .item article {
    width: calc(50vw - 40px) !important;
    margin-bottom: 10px !important;
  }
  .carouselWithDescription .itemsContainer .item article p {
    width: calc(50vw - 40px) !important;
  }
}

@media screen and (max-width: 620px) {
  header {
    height: 40px !important;
  }
  header .pageRedirect {
    display: none !important;
  }
  header #headerItemContainer {
    margin: 0 !important;
  }
  header .mobileMenuOpener, header .mobileMenuCloser {
    background: none !important;
  }
}
@media screen and (min-width: 621px) {
  .mobileMenuOpener {
    display: none !important;
  }
}
@media screen and (max-width: 430px) {
  textarea {
    width: 220px !important;
  }
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  display: none;
}

@-webkit-keyframes mobileMenuOpen {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}

@keyframes mobileMenuOpen {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes mobileMenuClose {
  from {
    left: 0;
  }
  to {
    left: -200px;
  }
}
@keyframes mobileMenuClose {
  from {
    left: 0;
  }
  to {
    left: -200px;
  }
}
div#mobileMenu {
  z-index: 2;
  left: -200px;
  background: linear-gradient(rgb(0, 0, 34), rgb(0, 0, 65));
  box-shadow: rgb(50, 50, 93) 0px 50px 100px -20px, rgb(0, 0, 0) 0px 30px 60px -30px;
  position: absolute;
  top: 40px;
  border-bottom-right-radius: 1em;
  padding: 10px;
  color: white;
  -webkit-animation-duration: 200ms !important;
          animation-duration: 200ms !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}
div#mobileMenu .headerItem:hover {
  transform: scale(1.05);
}
div#mobileMenu .headerItem:active {
  transform: scale(0.97);
}
div#mobileMenu div.headerItem {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  background-color: rgb(51, 51, 51);
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 1em;
  transition: all 500ms;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
div#mobileMenu div.headerItem p {
  color: rgb(255, 255, 255);
}
div#mobileMenu div.headerItem p .fa-solid {
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */