* {
    margin: 0;
    padding: 0;
    transition: all 200ms;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}

html {
    height: 100%;
}

body {
    font-family: Montserrat;
    height: 100%;
    display: flex;
    flex-direction: column
}

@import "partials/header";
@import "partials/simple-carousel";
@import "partials/carouselWithDescription";
@import "partials/caroselScroll";
@import "partials/carouselContainer";
@import "partials/cart";
@import "partials/footer";
@import "partials/mediaQuerys";
@import "partials/carosuelSimpleResponsive";
@import "partials/form";

::-webkit-scrollbar {
    display: none;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    display: none;
}










