* {
    margin: 0;
    padding: 0;
    transition: all 200ms;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: Montserrat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    display: none;
}

@import "partials/header";
@import "partials/footer";
@import "partials/mobileMenu";

@import "partials/contact";
@import "partials/galeria";

@import "partials/carouselScroll";
@import "partials/carouselSimple";
@import "partials/carouselWithDescription";
@import "partials/carouselContainer";

@import "partials/cart";
@import "partials/mobileCart";

#cartAlert {
    opacity: 0;
    padding: 5px;
    background-color: rgb(56, 56, 56);
    position: absolute;
    top: 40px;
    align-self: center;
    border-radius: 12px;
    margin: 10px;
    transition: all 0ms;
    transition: opacity 200ms;
    text-align: center;
    z-index: 3;
    border: 1px solid white;

    p {
        color: white;
    }
}