// Carousel (Simple)
.itemsSubContainer.carouselWithDescription {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2em;

    // Items Container
    .itemsContainer {
        border-radius: 1em;
        background: linear-gradient(rgb(204, 204, 204), rgb(255, 255, 255));
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        width: 1281px;
        scroll-behavior: smooth;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

        // Item container
        .card {
            background-color: rgb(37, 37, 37);
            margin: 10px;
            color: white;
            text-align: center;
            border-radius: 1em;
            width: 407px;
            

            // Item
            .item {
                display: grid;
                grid-template-areas: 
                "item description";

                section {
                    display: flex;
                    flex-direction: column;

                    // Image
                    img {
                        margin-right: 30px;
                        margin-left: 30px;
                        margin-top: 10px;
                        margin-bottom: 0px;
                        width: 120px;
                        height: 120px;
                        object-fit: contain;
                    }
                
                    // Title
                    .item-title {
                        margin-top: 3px;
                        font-weight: 100;
                        font-size: 1em;
                        margin-left: 10px;
                    }
                
                    // Add To Cart
                    .ver-mas-button {
                        margin: 0 auto;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        font-family: Montserrat;
                        font-size: 13px;
                        border-radius: 8px;
                        background-color: white;
                        font-weight: bolder;
                        border: 0;
                        padding: 5px;
                        transition: all 200ms;
                    }
                    .ver-mas-button:hover {
                        transform: scale(1.05);
                    }
                    .ver-mas-button:active {
                        transform: scale(.97);
                    }
                }

                article {
                    width: 185px;
                    margin-left: 37px;
                    margin-right: 5px;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 260px;

                    p {
                        display: none;
                    }
                }

                
            }
        }
    }
}