#formmain {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formheader {
    margin-bottom: 0;
}

#form {
    background: linear-gradient(rgb(15, 15, 15), rgb(59, 59, 59));
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border-radius: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.forminput, textarea {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 2px 2px 2px #8d8d8d,
           -2px -2px 2px #686868;
    transition: all 0.3s;
    font-family: Montserrat;
    font-weight: 800;
   }

label {
    font-weight: bolder;
}
   
input.forminput:focus, textarea:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

input.forminput, textarea {
    margin-bottom: 20px;
    margin-top: 10px;
}

#enviar {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

#enviar {
    margin-top: 5px;
    padding: 10px 17px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: background 250ms;
    overflow: hidden;
   }
   
#enviar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #212121;
    z-index: -1;
    border-radius: 10px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}
   
#enviar:hover {
    color: #e8e8e8;
    background: #212121;
}
   
#enviar:hover::before {
    width: 100%;
}

textarea {
    resize: none;
}