
@media screen and (max-width: 820px) {
    .carouselTitle {
        left: -30px !important;
    }
}

@media screen and (max-width: 530px) {
    .carouselTitle {
        left: 5px !important;
        font-size: 20px !important;
    }
}

.carouselWithDescription {
    @media screen and (max-width: 1480px) {
        .itemsContainer {
            width: 854px !important;
        }
    }
    
    @media screen and (max-width: 1030px) {
        .itemsContainer {
            width: 741px !important;
        }
        
        .item {
            grid-template-areas: 
            "item"
            "description" !important; 

            article {
                height: 120px !important;
            }

            section {
                .item-button-cart {
                    margin-bottom: 0 !important;
                    margin-top: 10px !important;
                }

                .item-title {
                    margin: 0 10px !important;
                }
            }
        }
    }

    @media screen and (max-width: 920px) {
        .itemsContainer {
            width: 494px !important;
        }
    }

    @media screen and (max-width: 820px) {
        .carouselContainer {
            margin: 0 !important;
        }
    
        .itemsContainer {
            overflow-x: scroll !important;
            margin: 0 auto !important;
        }

        .scrollLeftDescription {
            display: none;
        }

        .scrollRightDescription {
            display: none;
        }
    }

    @media screen and (max-width: 530px) {

        
        
    }
}

@media screen and (max-width: 620px) {
    header {
        height: 40px !important;
        .pageRedirect {
            display: none !important;
        }

        #headerItemContainer {
            margin: 0 !important;
        }

        .mobileMenuOpener, .mobileMenuCloser {
            background: none !important;
        }

        // .mobileMenuOpener {
        //     i {
        //        color: white;
        //         height: 32px; 
        //     }

            
        // }
    }
}

@media screen and (min-width: 621px) {
    .mobileMenuOpener {
        display: none !important;
    }
}

