#mobileMain {
    display: flex;
    flex-direction: column;
}

#cartMain {
    display: grid;
    justify-items: center;

    .shoppingCartItem {
        margin: 10px 0;
        width: 400px;
        background-color: black;
        color: white;
        border-radius: 1em;
        display: grid;
        grid-template-areas: 
        "img title"
        "img price"
        "img input"
        "img value"
        "img delete";
        grid-template-columns: 200px 1fr;
        box-shadow: 5px 5px 5px #424242,
           -5px -5px 5px #919191;
           
           

        .shopping-cart-image {
            width: 180px;
            height: 180px;
            background-color: rgb(48, 48, 48);
            padding: 10px;
            margin: 0 auto;
            border-radius: 1em;
            object-fit: contain;
            grid-area: img;
            position: relative;
            left: 0;

            
        }
        
        

        .shopping-cart-item-title {
            text-align: center;
            margin: 0 10px;
            margin-top: 7px;
        }
        
        @media screen and (max-width: 480px) {
            .shopping-cart-image {
                width: 150px;
                height: 150px;
            }

            .shopping-cart-item-title {
                font-size: 16px;
            }
            
            width: 370px;
            grid-template-columns: 170px 1fr;
        }

        .price {
            text-align: center;
        }

        .input-container {
            width: fit-content;
            margin: 0 auto;
            margin-top: 5px; 

            .shopping-cart-quantity-input {
                width: 30px;
                height: 30px;
                border: 0;
                border-radius: 50%;
                font-family: Montserrat;
                font-weight: bolder;
                font-size: 15px;
                text-align: center;
                outline: none;
            }
        }

        :nth-child(5) {
            display: flex;
            width: fit-content;
            margin: 0 auto;
            margin-top: 5px;

            .moreValueInput {
                background: linear-gradient(rgb(28, 138, 0), rgb(0, 185, 114));
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                margin: 0 2.5px;
                align-items: center;
                border-radius: 6px;
                transition: all 200ms;
                p {
                    width: min-content;
                }
            }
            .moreValueInput:hover {
                transform: scale(1.05);
            }
            .moreValueInput:active {
                transform: scale(1);
            }
            .lessValueInput {
                @extend .moreValueInput;
                background: linear-gradient(rgb(255, 166, 0),rgb(209, 118, 15));
                margin-bottom: 0;
                
            }
        }

        :nth-child(6) {
            margin: 0 auto;
            width: fit-content;
            padding: 7px;
            .btn-delete {
                width: 50px;
                height: 20px;
                border: 0;
                background: linear-gradient(rgb(255, 0, 0), rgb(255, 111, 111));
                font-family: Montserrat;
                color: white;
                font-weight: bolder;
                border-radius: 7px;
                transition: all 200ms;
            }
            .btn-delete:hover {
                transform: scale(1.05);
            }
            .btn-delete:active {
                transform: scale(1);
            }
        }

        @media screen and (max-width: 420px) {
            .shopping-cart-image {
                width: 130px;
                height: 130px;
            }

            .shopping-cart-item-title {
                font-size: 14px;
            }

            .price {
                font-size: 12px;
            }

            .shopping-cart-quantity-input {
                width: 25px !important;
                height: 25px !important;
            }

            .moreValueInput, .lessValueInput {
                width: 20px !important;
                height: 20px !important;
            }

            .btn-delete {
                height: 17px !important;
            }
            
            
            width: 310px;
            grid-template-columns: 150px 1fr;
        }

        
    }
}

#mobileTotalContainer {
    background: linear-gradient(rgb(0, 0, 68), rgb(0, 0, 100));
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93) 0px 50px 100px -20px, rgba(0, 0, 0) 0px 30px 60px -30px;
    color: white;
    width: fit-content;
    right: -2px;
    padding: 1em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    text-align: center;
    position: fixed;
    bottom: 42px;
    font-size: 14px;

    #shopping-cart-total {
        font-size: 12px;
    }

    #buyButton {
        margin-top: 5px;
    }
}