#cart {
    background-color: rgba(26, 26, 26, 0.9);
    position: fixed;
    width: 450px;
    max-height: 379px;
    top: -379px;
    right: 20px;
    border-radius: 1em;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 3;

    #closeCart {
        color: red;
        position: absolute;
        top: 7px;
        right: 10px;
        cursor: pointer;
        background-color: #000000;
        padding: 2px 5px 1.5px 6px;
        border-radius: 50%;

        #closeCart:hover {
            transform: scale(1.1);
        }

        i::before {
            width: 12.5px;
            height: 12.5px;
        }
    }

    #cartTitle {
        color: white;
        position: absolute;
        top: 7px;
        left: 10px;
        background-color: black;
        padding: 3px;
        border-radius: 1em;

        h3 {
            font-size: 1em;
            margin: 0 3px;
        }
    }

    #cartDownPart {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1em;
        margin-bottom: 1em;

        #cartArrows {
            width: 100px;
            display: none;
            justify-content: center;
            align-items: center;
            background-color: rgb(10, 10, 10);
            height: fit-content;
            padding: 5px;
            margin: auto 0;
            border-radius: 1em;
            color: white;
            flex-direction: column;

            h2 {
                font-size: 17px;
            }
        
            button {
                margin: 5px;
                border: 0;
                background-color: white;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transition: all 200ms;
            }
            button:hover {
                transform: scale(1.05);
            }
            button:active {
                transform: scale(1);
            }
        }

        #totalContainer {
            width: fit-content;
            color: white;
            background-color: rgb(10, 10, 10);
            padding: 10px;
            border-radius: 1em;
            text-align: center;

            #totalText {
                font-weight: bolder;
                font-size: 18px;
            }
            #shopping-cart-total {
                font-size: 14px;
            }
            #shopping-cart-buy {
                margin-top: 5px;
                border: 0;
                background-color: white;
                font-family: Montserrat;
                font-weight: bolder;
                padding: 4px;
                border-radius: 6px;
                transition: all 200ms;
            }
            #shopping-cart-buy:hover {
                transform: scale(1.03);
            }
            #shopping-cart-buy:active {
                transform: scale(1);
            }
        }    
    }
    
    #cartNothingPart {
        color: white;
        width: fit-content;
        margin: 0 auto;
        margin-top: 35px;
    }

    #cartItemsContainer {
        overflow-y: hidden;
        max-height: 237px;
        margin-top: 25px;
        scroll-behavior: smooth;
    }
    
    @keyframes cartOpen {
        from {
            top: -379px;
        }
    
        to {
            top: 28px;
        }
    }
    
    @keyframes cartClose {
        from {
            top: 28px;
        }
    
        to {
            top: -379px;
        }
    }

    .shoppingCartItem {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 12px;
        padding: 5px;
        width: 420px;
        margin: 0 auto;
        margin-top: 10px;
        color: white;

        img, h3, .price, .moreValueInput {
            margin-right: 10px;
        }
    
        h3 {
            font-size: 15px;
            background: linear-gradient(rgb(26, 26, 26), rgb(53, 53, 53));
            padding: 5px;
            border-radius: 1em;
        }

        .price {
            margin-left: auto;
            background: linear-gradient(rgb(26, 26, 26), rgb(53, 53, 53));
            padding: 4px;
            border-radius: 1em;
        }
        .shopping-cart-item-price {
            font-size: 13px;
            margin: 0;
        }

        img {
            width: 45px;
            height: 45px;
            object-fit: contain;
            background: linear-gradient(rgb(26, 26, 26), rgb(53, 53, 53));
            padding: 7px;
            border-radius: 10px;
        }

        .input-container {
            margin-right: 3px;
        }

        .shopping-cart-quantity-input {
            width: 22px;
            height: 22px;
            text-align: center;
            border: 0;
            background: linear-gradient(rgb(26, 26, 26), rgb(53, 53, 53));
            color: white;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: bolder;
            border-radius: 50%;
            padding: 3px;
        }

        .moreValueInput {
            background: linear-gradient(rgb(28, 138, 0), rgb(0, 185, 114));
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2px;
            border-radius: 50%;
            transition: all 200ms;

            p {
                width: min-content;
            }
        }

        .moreValueInput:hover {
            transform: scale(1.05);
        }

        .moreValueInput:active {
            transform: scale(1);
        }

        .lessValueInput {
            @extend .moreValueInput;
            background: linear-gradient(rgb(255, 166, 0),rgb(209, 118, 15));
            margin-bottom: 0;
            margin-top: 2px; 
        }

        .btn-delete {
            width: 27px;
            height: 27px;
            border: 0;
            background: linear-gradient(rgb(255, 0, 0), rgb(255, 111, 111));
            font-family: Montserrat;
            color: white;
            font-weight: bolder;
            border-radius: 7px;
            transition: all 200ms;
        }

        .btn-delete:hover {
            transform: scale(1.05);
        }

        .btn-delete:active {
            transform: scale(1);
        }
    }
}