.itemsSubContainer.carouselWithDescription {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2em;

    .itemsContainer {
        border-radius: 1em;
        background: linear-gradient(rgb(204, 204, 204), rgb(255, 255, 255));
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        width: 1281px;
        scroll-behavior: smooth;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

        .card {
            background-color: rgb(37, 37, 37);
            margin: 10px;
            color: white;
            text-align: center;
            border-radius: 1em;
            width: 407px;
            
            .item {
                display: grid;
                grid-template-areas: 
                "item description";

                section {
                    display: flex;
                    flex-direction: column;

                    img {
                        margin-right: 30px;
                        margin-left: 30px;
                        margin-top: 10px;
                        margin-bottom: 0px;
                        width: 120px;
                        height: 120px;
                        object-fit: contain;
                    }
                
                    .item-title {
                        margin-top: 3px;
                        font-weight: 100;
                        font-size: 1em;
                        margin-left: 10px;
                    }
                
                    .ver-mas-button {
                        margin: 0 auto;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        font-family: Montserrat;
                        font-size: 13px;
                        border-radius: 8px;
                        background-color: white;
                        font-weight: bolder;
                        border: 0;
                        padding: 5px;
                        transition: all 200ms;
                    }
                    .ver-mas-button:hover {
                        transform: scale(1.05);
                    }
                    .ver-mas-button:active {
                        transform: scale(.97);
                    }
                }

                article {
                    width: 185px;
                    margin-left: 37px;
                    margin-right: 5px;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 260px;

                    p {
                        display: none;
                    }
                }
            }
        }
    }

    
    @media screen and (max-width: 1480px) {
        .itemsContainer {
            width: 854px !important;
        }
    }
    
    @media screen and (max-width: 1030px) {
        .itemsContainer {
            width: 741px !important;
        }
        
        .item {
            grid-template-areas: 
            "item"
            "description" !important; 

            img {
                margin: 10px auto 0 auto !important;
            }

            article {
                height: 120px !important;
            }

            section {
                .item-button-cart {
                    margin-bottom: 0 !important;
                    margin-top: 10px !important;
                }

                .item-title {
                    margin: 0 10px !important;
                }
            }
        }
    }

    @media screen and (max-width: 920px) {
        .itemsContainer {
            width: 494px !important;
        }
    }

    @media screen and (max-width: 820px) {
        .carouselContainer {
            margin: 0 !important;
        }
    
        .itemsContainer {
            overflow-x: scroll !important;
            margin: 0 auto !important;
        }

        .scrollLeftDescription {
            display: none;
        }

        .scrollRightDescription {
            display: none;
        }
    }

    @media screen and (max-width: 530px) {
        width: 100vw !important;
        .itemsContainer {
            width: 100vw !important;
            border-radius: 0 !important;

            .item, .card, section {
                width: calc(33.3333vw - 20px) !important;
            }

            .item {
                .item-price {
                    font-size: 20px !important;
                }

                .item-title {
                    font-size: 10px !important;
                }

                .item-button-cart {
                    font-size: 10px !important;
                    margin-bottom: 15px !important;
                }

                article {
                    margin: 0 auto !important;
                    width: calc(33.3333vw - 40px) !important;
                    height: fit-content !important;
                    
                    li {
                        display: inline;
                        font-size: 12px;
                    }
                }
            } 
        }
    }

    @media screen and (max-width: 470px) {
        .itemsContainer {
            .item, .card, section {
                width: calc(50vw - 20px) !important;
            }

            .item {
                article {
                    width: calc(50vw - 40px) !important;
                    margin-bottom: 10px !important;

                    p {
                        width: calc(50vw - 40px) !important;
                    }
                }
            }  
        }
    }
}

