@keyframes mobileMenuOpen {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }
}

@keyframes mobileMenuClose {
    from {
        left: 0;
    }

    to {
        left: -200px;
    }
}

div#mobileMenu {
    z-index: 2;
    left: -200px;
    background: linear-gradient(rgb(0, 0, 34), rgb(0, 0, 65));
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0);
    position: absolute;
    top: 45px;
    padding: 10px;
    color: white;
    animation-duration: 200ms !important;
    animation-fill-mode: forwards !important;
    border-bottom-right-radius: 6px;

    .headerItem:hover {
        transform: scale(1.05);
    }

    .headerItem:active {
        transform: scale(0.97);
    }

    #mobileHeaderTitle {
        width: fit-content;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 2px;
    }

    div.headerItem {
        width: fit-content;
        align-items: center;
        background-color: rgb(51, 51, 51);
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        padding-right: 8px;
        padding-left: 8px;
        border-radius: 1em;
        transition: all 500ms;
        margin-top: 8px;
        margin-bottom: 8px;
        cursor: pointer;

        p {
            color: rgb(255, 255, 255);

            .fa-solid {
                margin-right: 5px;
            }
        }

        
    } 

}

@media screen and (max-width: 620px) {
    header {
        height: 45px !important;
        
        .pageRedirect {
            display: none !important;
        }

        #headerItemContainer {
            margin: 0 !important;
        }

        .mobileMenuOpener, .mobileMenuCloser {
            background: none !important;
        }
    }
}

@media screen and (min-width: 621px) {
    .mobileMenuOpener {
        display: none !important;
    }
}


@media screen and (max-width: 430px) {
    textarea {
        width: 220px !important;
    }
}